.App {
  font-family: sans-serif;
  text-align: center;
}

.component {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px 1px #cccccc;
  padding: 20px;
  margin: 20px auto;
  height: 200px;
  max-width: 60%;
}